@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
#Card {
  display: grid;
  justify-content: center; /* center grid items horizontally */
  margin: 0 auto; /* center the whole grid */
}

#Card > div {
  width: 200px; /* take full available width */
  max-width: 400px; /* but don’t go past 400px */
  margin: 0 auto; /* center each card */
  text-align: start; /* keep text left-aligned */
}

@media screen and (max-width: 439px) {
 

  #trusted {
    font-size: 10px;
    margin: auto;
  }
  #bodyflex {
    display: grid;
    grid-template-columns: 1fr;
  }
  #secure {
    font-size: 50px;
  }

  #secure2 {
    font-size: 10px;
  }
  #secure3 {
    display: grid;
    grid-template-columns: 1fr;
  }
  #secure4 {
    margin-top: 10px;
    margin-left: 6px;
  }

  #secure6 {
    display: grid;
    grid-template-columns: 2fr;
    width: 300px;
  }
  #secure7 {
    width: 447px;
  }
  #secure8 {
    font-size: 13px;
  }

  #secure9 {
    font-size: 40px;
    justify-self: start;
  }

  #secure10 {
    font-size: 9px;
  }
  #title {
    font-size: 10px;
  }
  #description {
    font-size: 7px;
  }

  #Card {
    width: 500px;
  }
  #cards {
    justify-self: start;
    margin: auto;
    display: none;
  }
  #card {
    display: none;
  }
  #blue {
    width: 447px;
  }
  #shift {
    margin-left: 4px;
  }
  #center {
    margin-left: 170px;
  }
  #centers {
    margin-left: 170px;
  }
  #text {
    margin-left: 40px;
  }
  #say {
    font-size: 30px;
    margin-left: 60px;
  }
  #textt {
    font-size: 10px;
    margin-left: 50px;
  }
  #test {
    width: 280px;
    font-size: 20px;
    margin-left: 70px;
   
  }

  #block {
    display: none;
  }
  #price {
    width: 300px;
    margin-left: 70px;
 
  }
  #white {
    width: 390px;
    margin-right: 6px;
    margin-left: 8px;
  }
  #square {
    font-size: 30px;
    margin-left: 50px;
    text-align: center;
  }
  #secure77 {
    display: none;
  }
  #card1 {
    width: 250px;
    margin-left: 90px;
  }
  #font {
    font-size: 16px;
  }

}

